<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">

    <%= form.text_area :body, class: "comment_box", id: "", :cols => 10, :rows => 1, :placeholder => "Comment on your sick ass photo!" %>
  </div>

  <div>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
