



<%= form_with(model: @post, local: true) do |form| %>




<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <form>
        <div style="margin-bottom: -20px;" class="form-group">
          <img><%= image_tag @post.image_url(:medium), class: 'img-responsive' %></img>

          <label  class="btn btn-outline-danger btn-change-avatar btn-sm">Choose a new photo to replace the old one.
            <span style="display:none;">
              <%= form.file_field :image, id: :post_url  %>
            </span>
          </label>
        </div>

        <div class="form-group " >
          <label for="exampleFormControlTextarea1"></label>
          <div class="field" style="margin-bottom: 10px;">
            <!-- <%= form.label :comment %> -->
            <%= form.text_area :comment, class: "form-control", id: "exampleFormControlTextarea1", :cols => 50, :rows => 3, :placeholder => "Comment on your sick ass photo!" %>
          </div>
          <div class="form-group text-align-center">
            <%= form.submit class: 'btn btn-outline-danger btn-sm' %>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<% end %>
