

<div style="background: white; border-bottom: 0.1px solid lightgrey;">
  <nav class="navbar navbar-expand navbar-light" style="background: white; border-bottom: 0.1px solid lightgrey;">
  <div class="navbar-brand"><%= link_to 'Instaclon3', posts_path %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
      <% if user_signed_in? %>
      <div class="nav-item nav-link" href="#"><%= link_to 'New Post', new_post_path %></div>
      <div class="nav-item nav-link" href="#"><%= link_to 'Profile', edit_user_registration_path %></div>
      <div class="nav-item nav-link" href="#"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>

      <% else %>
      <div class="nav-item nav-link" href="#"><%= link_to 'Login', new_user_session_path %></div>
      <div class="nav-item nav-link" href="#"><%= link_to 'Register', new_user_registration_path %></div>
      <% end %>

    </div>
  </div>
</nav>
</div>
