<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClon3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>


    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #fafafa; ">
    <div style="background: white; border-bottom: 0.1px solid lightgrey;">
      <nav class="navbar navbar-expand navbar-light" style="background: white;">
      <a class="navbar-brand" href=""><%= link_to 'Instaclon3', posts_path %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
          <a class="nav-item nav-link" href="#">New post</a>
          <a class="nav-item nav-link" href="#">Login</a>
          <a class="nav-item nav-link" href="#">Signup</a>
        </div>
      </div>
    </nav>
    <!-- <p class="notice"style="margin-bottom: 0; background: white; border-bottom: 0.1px solid lightgrey;"><%= notice %></p>
    <p class="alert" style="background: white; border-bottom: 0.1px solid lightgrey;"><%= alert %></p> -->
  </div>

    <%= yield %>
  </body>
</html>
